<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edite a tarefa
        </h1>

        <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Insira o nome da tarefa...">
        <br><br>
        <input #taskDateInput class="input has-background-light is-medium" type="date" placeholder="Adicione a data limite...">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancelar</button>
            <button class="button is-primary has-text-white is-medium" (click)="updateTask(taskTitleInput.value, taskDateInput.value)">Salvar</button>
        </div>
    </div>
</div>